@import './text.scss';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  font-family: 'Roboto Flex', serif;
  // background-color: #0a0f15;
  -webkit-text-size-adjust: 100%;
}

.font-roboto-flex {
  font-family: 'Roboto Flex', serif;
}

.shadow-dropdown {
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.08);
}
