*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  font-family: "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Rock";
  src: url("/font/ROCK.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rock";
  src: url("/font/Rockwell-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
