@import './text.scss';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  font-family: 'Roboto Flex', serif;
  // background-color: #0a0f15;
  -webkit-text-size-adjust: 100%;
}

.font-roboto-flex {
  font-family: 'Roboto Flex', serif;
}

.shadow-dropdown {
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.08);
}

.react-rater-star {
  color: #d9d9d9 !important;
  font-size: 16px;
}

.react-rater-star.is-active {
  color: #f2b021 !important;
}

.react-rater-star.is-active-half:before {
  color: #f2b021 !important;
}

.react-rater {
  margin-bottom: 4px;
}

.video-js {
  width: 100% !important;
  height: 566px !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.shadow-custom {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.05) !important;
}

.ql-editor {
  min-height: 80px !important;
}
.ql-container.ql-snow {
  border-radius: 4px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border: 1px solid white !important;
}

.ql-toolbar.ql-snow {
  border-radius: 4px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border: 1px solid white !important;
  border-bottom: none !important;
}

.bgActivePlan {
  background: rgba(2, 166, 194, 0.1);
}
