.font-16-600 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.font-16-700 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.font-14-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.font-12-500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.font-14-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.font-32-700 {
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.font-16-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.font-16-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.font-18-600 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
